name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy website to Docker container via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_IP }}
          username: debian
          password: ${{ secrets.VPS_PASSWORD }}
          port: 22
          script: |
            cd ~/Deploying-A-Website-Unix--420-321-VA--Fall-2025
            git pull origin main
            sudo docker cp website/. unix-container:/usr/share/nginx/html/
            sudo docker restart unix-container

